#!/usr/bin/env bash

if ! command -v uv >/dev/null 2>&1; then
    echo "ERROR: Please install uv (https://docs.astral.sh/uv/)"
    return 1
fi

uv sync --all-packages --all-groups
source .venv/bin/activate

source_env_if_exists "$(git rev-parse --show-toplevel)/.envrc.private"
