#!/bin/bash

# Our policy is that the .envrc is entirely optional, and a user
# without direnv should not really have a worse dev experience in any way.

# Use with `devservices up objectstore --mode=full`
export BIGTABLE_EMULATOR_HOST=http://localhost:8086

source_env_if_exists .envrc.private
