[workspace]
resolver = "3"
members = ["objectstore-*", "stresstest"]
default-members = ["objectstore-server"]

[profile.release]
# In release, however, we do want full debug information to report
# panic and error stack traces to Sentry.
debug = "line-tables-only"
lto = "thin"

# [patch.crates-io]
# bigtable_rs = { path = "../bigtable_rs/bigtable_rs" }
