[package]
name = "objectstore-server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
argh = "0.1.13"
axum = "0.8.4"
axum-extra = "0.10.1"
elegant-departure = { version = "0.3.1", features = ["tokio"] }
figment = { version = "0.10.19", features = ["env", "test", "yaml"] }
futures-util = "0.3.31"
objectstore-service = { path = "../objectstore-service" }
sentry = { version = "0.41.0", features = [
    "tower-axum-matched-path",
    "tracing",
    "logs",
] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = { version = "1.45.1", features = ["full"] }
tokio-stream = "0.1.17"
tower = { version = "0.5.2" }
tracing = { version = "0.1.41" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
uuid = { version = "1.17.0", features = ["v4", "v7"] }

[dev-dependencies]
tempfile = "3.20.0"

[[bin]]
name = "objectstore"
path = "src/main.rs"
