name: CI

on:
  push:
    branches:
      - main
      - release/**

  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Toolchain
        run: |
          rustup toolchain install stable --profile minimal --no-self-update
          rustup component add clippy rustfmt rust-docs --toolchain stable

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --workspace --all-targets --all-features --no-deps -- -D warnings

      - name: Docs
        run: cargo doc --workspace --all-features --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: -Dwarnings

  lint-python:
    name: Lint Python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: Install dependencies
        run: uv sync --all-packages --all-groups

      - name: Format
        run: uv run ruff format

      - name: Lint
        run: uv run ruff check

      - name: Run mypy
        run: uv run mypy .

  test-all:
    name: Test (all features)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Start Bigtable Emulator
        run: |
          docker run -d \
            --name bigtable-emulator \
            -p 8086:8086 \
            -e BIGTABLE_EMULATOR_HOST=localhost:8086 \
            -v $PWD/devservices/run-bigtable.sh:/run-bigtable.sh \
            google/cloud-sdk \
            /run-bigtable.sh

      - name: Start GCS Emulator
        run: |
          docker run -d \
            --name gcs-emulator \
            -p 8087:9000 \
            -e GOOGLE_CLOUD_CPP_STORAGE_TEST_BUCKET_NAME=test-bucket \
            gcr.io/cloud-devrel-public-resources/storage-testbench:latest

      - name: Install Rust Toolchain
        run: |
          rustup toolchain install stable --profile minimal --no-self-update

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Tests
        run: cargo test --workspace --all-features

  test-python:
    name: Test Python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Toolchain
        run: |
          rustup toolchain install stable --profile minimal --no-self-update

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: swatinem/rust-cache@v2

      - name: Build server binary
        run: cargo build --locked

      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: Install dependencies
        run: uv sync --all-packages --all-groups

      - name: Run tests
        run: uv run pytest clients/python

  docs:
    name: Build Documentation
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --component rust-docs --no-self-update

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Build Rust Docs
        run: |
          cargo doc --workspace --all-features --no-deps
          echo '<meta http-equiv="refresh" content="0; url=objectstore/" />Redirecting to <a href="objectstore/">objectstore</a>' > target/doc/index.html
        env:
          RUSTDOCFLAGS: -Dwarnings

      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: Install Python dependencies
        run: uv sync --all-packages --all-groups --group docs

      - name: Build Python Docs
        run: |
          mkdir -p docs/_build
          uv run sphinx-apidoc -o clients/python/docs/ clients/python/src/ --force --module-first
          uv run sphinx-build -vv -W -b html clients/python/docs/ docs/_build

      - name: Setup combined docs directory
        run: |
          mkdir -p gh-pages/rust
          mkdir -p gh-pages/python
          cp -r target/doc/* gh-pages/rust/
          cp -r docs/_build/* gh-pages/python/
          echo '<h1>Objectstore API Documentation</h1><ul><li><a href="rust/">Rust Server and Client documentation</a></li><li><a href="python/">Python Client Documentation</a></li></ul>' > gh-pages/index.html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "gh-pages"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
